---
import type { Link } from "@/types";

import TreeFooter from "@/components/TreeFooter.astro";
import TreeHeader from "@/components/TreeHeader.astro";
import TreeLinksContainer from "@/components/TreeLinksContainer.astro";
import LayoutTreeContainer from "@/layouts/tree/LayoutTreeContainer.astro";

const title = "Yazoc Proyectos";
const description = "Yazoo Projects link in site bio. The greatest, professional and minimalist designs for your dream home.";
const website = "https://yazocproyectos.com";
const email = "yazocproyectos@gmail.com";
const emaillink = `mailto:${email}`;

const tel = "+573177703088"

const links: Array<Link> = [
	{ title: 'Tel', description: "Llámanos" , link:`tel:${tel}`, type: "tel", action: "Call"},
]
---

<LayoutTreeContainer title={title}>
	<div class="content-center items-center flex flex-none flex-col xl:gap-16 h-min justify-start container relative  gap-12 px-6 xl:px-9 w-full md:gap-14">
		<TreeHeader title={title} description={description} website={website} emaillink={emaillink}/>
		<TreeLinksContainer links={links} />
		<TreeFooter />
	</div>
</LayoutTreeContainer>
